*.class
*.log
target/
.idea/
react-virtualized
.metals/
.bloop/
.bsp/
.vscode/
local.*
node_modules/
package-lock.json
yarn.lock
facade/yarn.lock
travis/secrets.tar
metals.sbt
.bsp/
.hydra/
project/project/
