name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up JDK 1.8
        uses: olafurpg/setup-scala@v12
        with:
          java-version: 1.8
      - name: Checking your code format
        run: sbt scalafmtCheckAll
      - name: Run tests
        run: sbt +facade/test +demo/fastOptJS::webpack +demo/fastOptJS
